<header data-fls-header data-fls-header-scroll="10" data-fls-darklite class="header">
	<div class="header__container">
		<a href="#hero" data-fls-scrollto data-fls-scrollto-header class="header__brand" aria-label="Шепот внутри">
			<span class="header__brand-icon" aria-hidden="true"></span>
			<span class="header__brand-text">Шепот внутри</span>
		</a>
		<div class="header__menu menu">
			<nav class="menu__body" aria-label="Основная навигация">
				<ul class="menu__list">
					<li class="menu__item"><a href="#about" data-fls-scrollto data-fls-scrollto-header class="menu__link">О психологе</a></li>
					<li class="menu__item"><a href="#services" data-fls-scrollto data-fls-scrollto-header class="menu__link">Услуги</a></li>
					<li class="menu__item"><a href="#testimonials" data-fls-scrollto data-fls-scrollto-header class="menu__link">Отзывы</a></li>
					<li class="menu__item"><a href="#footer-contacts" data-fls-scrollto data-fls-scrollto-header class="menu__link">Контакты</a></li>
				</ul>
				<a href="#contact" data-fls-scrollto data-fls-scrollto-header class="menu__button">
					<img src="assets/svgicons/sparkles-icon.svg" alt="" width="16" height="16">
					<span>Записаться</span>
				</a>
			</nav>
			<div class="header__mobile-actions">
				<a href="#contact" data-fls-scrollto data-fls-scrollto-header class="menu__button menu__button--mobile">
					<img src="assets/svgicons/sparkles-icon.svg" alt="" width="16" height="16">
					<span>Записаться</span>
				</a>
				<button type="button" class="menu__theme menu__theme--mobile" data-fls-darklite-set aria-label="Сменить тему">
					<img class="menu__theme-icon menu__theme-icon--moon" src="assets/svgicons/moon-icon.svg" alt="" width="18" height="18">
					<img class="menu__theme-icon menu__theme-icon--sun" src="assets/svgicons/sun-icon.svg" alt="" width="18" height="18">
				</button>
			</div>
			<button type="button" data-fls-menu class="menu__icon icon-menu" aria-label="Открыть меню"><span></span></button>
		</div>
	</div>
</header>
