 <head>
	<if condition="'[[preloader.enable]]' === 'true'">
		<include src="@components/effects/preloader/preloader.html" locals='{"once":"[[preloader.once]]"}'></include>
	</if>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preload" as="image" href="@img/hero/hero-bg.jpg">
	<include src="@components/layout/head/fonts-preload.html"></include>
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<link rel="stylesheet" href="@styles/style.scss">
	<link rel="icon" type="image/svg+xml" href="@img/favicon-round.svg">
	<link rel="icon" type="image/png" sizes="32x32" href="@img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="@img/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="@img/apple-touch-icon.png">
	<link rel="mask-icon" href="@img/favicon-round.svg" color="#f59e0b">
	<link rel="manifest" href="@img/site.webmanifest">
	<link rel="shortcut icon" href="@img/favicon.ico">
	<meta name="theme-color" content="#020617">
	<if condition="'[[keywords]]' !== ''">
		<meta name="keywords" content="[[keywords]]">
	</if>
	<if condition="'[[description]]' !== ''">
		<meta name="description" content="[[description]]">
	</if>
	<if condition="'[[canonical]]' !== ''">
		<link rel="canonical" href="[[canonical]]">
	</if>
	<meta property="og:title" content="[[title]]">
	<if condition="'[[description]]' !== ''">
		<meta property="og:description" content="[[description]]">
		<meta name="twitter:description" content="[[description]]">
	</if>
	<if condition="'[[canonical]]' !== ''">
		<meta property="og:url" content="[[canonical]]">
	</if>
	<if condition="'[[og_type]]' !== ''">
		<meta property="og:type" content="[[og_type]]">
	</if>
	<if condition="'[[og_image]]' !== ''">
		<meta property="og:image" content="[[og_image]]">
		<meta name="twitter:image" content="[[og_image]]">
	</if>
	<meta property="og:site_name" content="Whispersinside">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="[[title]]">
	<title>[[title]]</title>
</head>
